.cover {
    .container-fluid;

    padding: 0;
    background: @gray-light;

    &.push-down {
        margin-bottom: 10px;
    }

    &__item {
        .make-xs-column(2, 0);

        img {
            width: 100%;
            height: auto;
            display: block;
        }
    }
}
